<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957283610837-skbi11u6i0924es5hhvlf55pk90ps3h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957283610837-skbi11u6i0924es5hhvlf55pk90ps3h2</string>
	<key>API_KEY</key>
	<string>AIzaSyC-yia8YGl-hwLv8j4flRoP40MXfrFNn00</string>
	<key>GCM_SENDER_ID</key>
	<string>957283610837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.serveeasy</string>
	<key>PROJECT_ID</key>
	<string>serveeasy-project</string>
	<key>STORAGE_BUCKET</key>
	<string>serveeasy-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957283610837:ios:ad66d48e1c7a083be0f25c</string>
</dict>
</plist>